<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @image.user_id %>
</p>

<p>
  <b>File name:</b>
  <%= @image.file_name %>
</p>


<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
